h1{

background-color: aqua;
}

p{
    color: red;
}

a{
    text-decoration: line-through;
}
.article{
    display: flex ;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
}